.custom-button {
    width: 100%;
    padding: 15px 40px;
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: white;
  }
  
  .custom-button:hover:not(:disabled) {
    transform: translateY(-4px);
  }
  
  .lock-btn {
    background-color: #7a68ff;
    border: 1px solid #7c63ab;
  }
  
  .next-btn {
    background-color: #7a68ff;
    border: 1px solid #7c63ab;
  }
  
  .start-btn {
    background-color: #7a68ff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .start-btn:hover {
    transform: translateY(-4px);
  }
  